{
    "dspool": "{{ dspool }}",
    "dshost": "{{ dshost }}",
    "dsuser": "{{ dsuser }}",
    "dssecret": "{{ dssecret }}",
    "adminname": "{{ adminname }}",
    "adminpassword": "{{ adminpassword }}",
    "datastores": !unsafe ["{{ datastores }}"]
}