---
frontend_password: {{frontend_password}}
frontend_username: {{frontend_username}}
datastores: {{datastores}}
ceph_pool: {{ceph_pool}}
monitor_fqdn: {{monitor_fqdn}}
ceph_username: {{ceph_username}}
secret_uuid: {{secret_uuid}}