---
dashboard_username: {{ dashboard_username }}
dashboard_password: {{ dashboard_password }}
monitor_fqdn: {{ monitor_fqdn }}
storage_ip: "{{ hostvars[inventory_hostname]['ansible_'~storage_nic].ipv4.address }}"